{{define "main"}}

{{if isset .Params "bg"}}
    <html style="background-image: url({{.Param "bg"}}); background-color: black;">
 {{ else }}
   <html style="background-color: white">
{{ end }}

<body>  

    <!--Content-->

        <div class="corner-button">
            <a href="/about">✦</a><br><br>
        </div>



<div class="largebox">  

<div style="font-size:60px; color: black; margin: 0px auto 50px 0; width: fit-content;">{{ .Title }}</div>

<div style="font-size:30px; color: black; margin: 50px auto 75px 0; width: fit-content;">{{ .PublishDate.Format "1/02/2006"}}</div>
   

{{with .Content}}<content>{{.}}</content>{{end}}

   
</div>
</body>

</html>  
{{- partial "large-footer.html" . -}}


{{end}}


